.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 25px;
}

section h1 {
    position:absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
}

.container {
    width: 400px;
    height: 400px;
    display: grid;
    z-index: 100;
}
.buttons {
    margin: 25px;
}
.btn {
    padding: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
}